@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

$nb-themes: nb-register-theme(( // add your variables here like:
    layout-window-mode-padding-top: 0px,
    header-height: 0px,
    header-padding: 0px,
    layout-padding: 0rem,
    layout-medium-padding: 0em,
    layout-small-padding: 0em,
    tree-grid-cell-padding: .5px,
    tree-grid-row-min-height:1rem,
    tree-grid-cell-border-width: 1px,
    tree-grid-cell-border-style: 1px inset #454d55,
    tree-grid-sort-header-button-padding: 0px,
    tree-grid-cell-border-color:#008a5f,
    tree-grid-row-hover-background-color: #00dd5f,
    tree-grid-header-background-color:#008a5f,
    tree-grid-header-text-color: #ffffff,
    tree-grid-row-text-font-size: small,
    tree-grid-row-text-font-weight: bold,
    tree-grid-row-text-font-family : "Roboto, Arial, sans-serif",
    layout-background-color: transparent,
    footer-height: 0px,
    footer-padding: 0px,
    footer-background-color: transparent,
    tree-grid-row-background-color:transparent,
    tree-grid-row-even-background-color:transparent,
    calendar-navigation-button-width: 10rem,
    calendar-year-cell-height: 2rem,
    button-filled-primary-background-color: #008a5f,
    button-filled-primary-text-color: #ffffff,
    button-filled-primary-border-color: #008a5f,
    button-filled-primary-focus-background-color: #008a5f,
    button-filled-primary-focus-border-color: #008a5f,
    button-filled-primary-hover-background-color: #00dd5f,
    button-filled-primary-hover-border-color: #00dd5f,
    button-filled-tiny-padding: 0px,
    button-filled-small-padding: 0px,
    button-filled-medium-padding: 0px,
    button-filled-large-padding: 0px,
    button-filled-giant-padding: 0px,
    calendar-cell-selected-background-color: #008a5f,
    calendar-cell-hover-background-color: #00dd5f,
    calendar-cell-active-background-color: #008a5f,
    calendar-cell-active-text-color: #ffffff,
    calendar-cell-in-range-background-color: #76dd00,
    calendar-cell-today-background-color:lightblue
  ), default, default);